# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/bin/

# Ignore .idea
.idea

# Syncthing ignore file
.stignore

*.log
*.log.lck

# Ignore eclipse stuff (other than .settings)
.project
.classpath
.settings/
!.settings/org.eclipse.jdt.core.prefs
